/* css reset */
* {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #000000;
    box-sizing: border-box;
}

body {
    background-color: #141526;
    background-size: cover;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 0 15px;
    background: #6e73d7;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.25);
}

#load {
    position: absolute;
    top: 0%;
    bottom: 0%;
    right: 0%;
    left: 0%;
    background-color: #141526;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
}

#load p {
    color: white;
    text-align: center;
    margin-top: 10px;
    font-size: 26px;
}

#load img {
    width: 200px;
}

/*Логотип*/
.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

/*Изображение логотипа*/
.logo__pic {
    width: 80px;
}

/*Текст логотипа*/
.logo__name {
    font-weight: 700;
    font-size: 30px;
}

.logo_2 {
    width: 70px;
    margin: 0;
    position: fixed;
    right: 10px;
    top: 0;
    cursor: pointer;
}

.about {
    position: absolute;
    display: block;
    z-index: 1;
    top: 0%;
    bottom: 0%;
    right: 0%;
    left: 0%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.925);
}

.about h2 {
    display: block;
    color: white;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    margin-top: 100px;
}

.about p {
    color: white;
    font-size: 20px;

    text-align: center;
    margin-top: 50px;
    padding: 0px;
}

.about .comand-list {
    margin-top: 30px;
    margin-bottom: 100px;
    color: rgb(205, 149, 255);
}


.about button {
    width: 100px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    font-weight: 700;

    border-radius: 10px;
    border: 1px solid white;

    transform: translate(-50%, -50%);
    position: absolute;
    bottom: 30%;
    left: 50%;
}

.about button:hover {
    background-color: rgb(175, 84, 255);
    color: #fff;
    cursor: pointer;
}

.help_btn {
    position: absolute;
    top: 25px;
    left: 10px;
    background-color: #141526;
    color: #ffffff;

    height: 50px;

    font-size: large;
    font-weight: 700;

    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    padding: 0 1rem;

    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}

.help_btn:hover {
    background: rgb(175, 84, 255);
    cursor: pointer;
}

/*КАРТА СЕТИ*/
main {
    display: block;
    position: absolute;
    left: 10%;
    right: 10%;
    top: 100px;
    bottom: 5%;
    z-index: -1;
}

#network-map {
    height: 100%;
}

.refr {
    position: absolute;
    top: 5%;
    right: 3%;
    z-index: 1;
}

.exp {
    position: absolute;
    top: 15%;
    right: 3%;
    z-index: 1;
}

.hello_btn {
    background-color: #6e73d7;
    color: #000000;
    border: 2px solid rgb(255, 255, 255);

    z-index: 1;
    transform: translate(-50%, -50%);
    position: absolute;
    bottom: 10%;
    left: 50%;
}

.hello h2 {
    display: block;
    position: absolute;
    top: 5%;
    left: 0%;
    color: white;
    font-size: 40px;
    font-weight: 700;

}

.hello p {
    display: block;
    position: absolute;
    top: 15%;
    left: 0%;
    color: white;
    font-size: 20px;
    font-weight: 400;
}

main button {
    background-color: #CADEFC;
    color: #000000;

    height: 50px;

    font-size: large;
    font-weight: 700;

    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    padding: 0 1rem;

    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}

main button:hover {
    background-color: #141526;
    border: 2px solid rgb(255, 255, 255);
    color: white;
    cursor: pointer;
}

/*БАНЕР*/
.help {
    position: absolute;
    display: block;
    top: 0%;
    bottom: 0%;
    right: 0%;
    left: 0%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.925);
    z-index: 1;
}

.help h2 {
    display: block;
    color: white;
    margin-top: 40px;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}

.help p {
    display: block;
    color: white;
    margin-top: 20px;
    font-weight: 200;
    font-size: 20px;
    text-align: center;
}

.zoom {
    position: absolute;
    display: block;
    width: 20%;
    margin: 3% 10%;
}

.zoom img {
    width: 100%;
}

.zoom .zoom_text {
    color: white;
    text-align: center;
    font-size: 14px;
    margin-top: 1px;
}

.motion {
    position: absolute;
    display: block;
    width: 20%;
    margin: 3% 39%;
}

.motion img {
    width: 100%;
}

.motion .motion_text {
    color: white;
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
}

.node-motion {
    position: absolute;
    display: block;
    width: 20%;
    margin: 3% 68%;
}

.node-motion img {
    width: 100%;
}

.node-motion .node-motion_text {
    color: white;
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
}

.help button {
    height: 50px;
    line-height: 50px;
    border-radius: 10px;

    font-size: large;
    font-weight: 700;

    border: 1px solid white;
    padding: 0 1rem;

    transform: translate(-50%, -50%);
    position: absolute;
    bottom: 10%;
    left: 50%;
}

.help button:hover {
    background-color: rgb(175, 84, 255);
    color: #fff;
    cursor: pointer;
}